<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RASTREOmw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RASTREOmw.Properties.Settings>
            <setting name="DefaultCNNSTR" serializeAs="String">
                <value>Server=127.0.0.1;Port=5432;User Id=pgsql;Password=pgsql;Database=rastreo_system;</value>
            </setting>
        </RASTREOmw.Properties.Settings>
    </userSettings>
</configuration>